@mixin loader {
    display: inline-block;
    position: relative;

    width: 36px;
    height: 36px;

    &::after, &::before {
        content: '';  

        position: absolute;
        left: 0;
        top: 0;

        width: 36px;
        height: 36px;

        box-sizing: border-box;

        animation: loader 2s ease-out infinite;
        
        @include theme() {
            background-color: themed('load');
        }
    }
}
